<mat-card class="resumen-card">

    <mat-card-header>
    <img mat-card-avatar src="assets/favicon.png" alt="Logo">
      <mat-card-title>Resumen de la página</mat-card-title>
    </mat-card-header>
  
    <!-- Contenido del resumen -->
    <mat-card-content>
      <p>
        Bienvenido a tu almacén de juegos retro en la nube. Aquí podrás
        gestionar y consultar todas tus copias de forma sencilla.
      </p>
    </mat-card-content>
  
    <!-- Botón sin acción -->
    <mat-card-actions>
      <button mat-raised-button color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card>
  